/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

/* commn style */
body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background: #ffffff;
    width: 870px;
    padding: 30px;
}

hr {
    color:
        #D1D1D1;
}

/* top players style */
.top-players {
    margin-bottom: 30px;
}

.section-title {
    color:
        #562EFF;
    font-size: 24;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 15px;
    font-size: 18px;
}

/* --------------top blog style--------------- */
.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 177px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}